.row
  .col-md-6
    h3 {{title}}

.row
  .col-md-12
    div
      a(class="btn btn-success", href="\#{{path}}/new")
         span(class="glyphicon glyphicon-plus")
         span &nbsp;Create
    br

.row
  .col-md-12
    h4 Drafts
    div(cr-model-list, type="{{type}}", view="draftList.view", params="draftList.params" columns="draftList.columns", limit="draftList.limit")
    hr


.row
  .col-md-12
    h4 Published
    div(cr-model-list, type="{{type}}", view="publishedList.view", params="publishedList.params" columns="publishedList.columns", limit="publishedList.limit")
