.row
  .col-md-12
    h3 {{ title }}

  .col-md-12
    div(cr-model-list, type="{{ startList.type }}", view="startList.view", columns="startList.columns", limit="startList.limit")

  .col-md-12
    div(cr-model-list, type="{{ categoriesList.type }}", view="categoriesList.view", columns="categoriesList.columns", limit="categoriesList.limit")

  .col-md-12
    div(cr-model-list, type="{{ collectionsList.type }}", view="collectionsList.view", columns="collectionsList.columns", limit="collectionsList.limit")
