.row
  .col-md-12
    h3 {{ title }}

  .col-md-12
    div(cr-model-list, columns="startList.columns", paginator="startList.paginator")

  .col-md-12
    div(cr-model-list, columns="categoriesList.columns", paginator="categoriesList.paginator")

  .col-md-12
    div(cr-model-list, columns="collectionsList.columns", paginator="collectionsList.paginator")
