include teaser

mixin layout-chrono-group(group)
  each teaser in group.teasers
    +teaser(teaser)

mixin layout-defined-group(group)
  each teaser in group.teasers
    +teaser(teaser)

mixin layout-mixed-group(group)
  each teaser in group.teasers
    +teaser(teaser)

mixin layout-rows(rows)
  each row in rows
    .teaser-row(class=[row.type, row.classes])
      if row.title
        .meta-title-wrapper
          if row.link
            a.meta-title(href=row.link)
              h2= row.title
          else
            .meta-title
              h2= row.title
      .teasers
        each teaser in row.teasers
          if teaser.doc
            +teaser(teaser, group)

mixin layout(layout, nextDate)
  div
    +layout-rows(layout.rows)
