include partials/head
include partials/header
include partials/layout
include partials/more
include partials/footer
include partials/body-end


doctype html
html(lang="de")
  head
    title Das Filter - Medium für Gegenwart
    meta(name="description", content="Medien, Kultur, Technik, Diskurse und Stil. Geschichten, die unser Leben schreibt.")

    meta(property="og:title", content="Das Filter - Medium für Gegenwart")
    meta(property="og:description", content="Medien, Kultur, Technik, Diskurse und Stil. Geschichten, die unser Leben schreibt.")
    meta(property="og:url", content=urls.full())
    meta(property="og:type", content="website")
    meta(property="og:image", content=urls.asset('img/df_logo_3d.jpg'))

    link(href=urls.rss() rel="alternate" type="application/rss+xml" title="Das Filter RSS feed")

    +head

  body.start-page
    +header(classifications, classification, null, 'start')

    main
      +header-categories(classifications, classification)
      +layout(layout)
      +more(nextDate)

    +footer(classifications, classification, true)
    +body-end
