
mixin body-end

  script(src=urls.asset("vendor/jquery/dist/jquery.js"))
  script(src="https://cdnjs.cloudflare.com/ajax/libs/balance-text/1.3.0/jquery.balancetext.min.js")
  script(src=urls.asset("js/app.js"))

  //- google analytics
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-46395799-1', 'dasfilter.com');
    ga('send', 'pageview');
