mixin footer
  footer(id="footer")
    .footer-cls
      .footer-cls-outer
        .footer-cls-inner
          ul
            li
              a(href=urls.start()) Start

            each cls in classifications.categories
              li
                a(href=urls.classification(cls))= cls.title

            each cls in classifications.collections
              li
                a(href=urls.classification(cls))= cls.title

    .footer-outer
      .footer-inner
        .footer-links
          .footer-list-group
            .footer-list
              ul
                li
                  a(href="/s/ueber-uns") Über uns
                li
                  a(href="/s/newsletter") Newsletter
                li
                  a(href="/s/kontakt") Kontakt

            .footer-list
              ul
                li
                  a(href="https://twitter.com/dasfilter", target="_blank") Twitter
                li
                  a(href="https://facebook.com/dasfilter", target="_blank") Facebook
                li
                  a(href="https://plus.google.com/106616903211116456553", rel="publisher", target="_blank") Google+

            .footer-list
              ul
                li
                  a(href="https://mixcloud.com/dasfilter", target="_blank") Mixcloud
                li
                  a(href="https://soundcloud.com/dasfilter", target="_blank") Soundcloud
                li
                  a(href="https://vimeo.com/user9631725", target="_blank") Vimeo
                li
                  a(href="http://www.youtube.com/channel/UCOQ_fJyuKcM6d_36mBr6apg", target="_blank") Youtube


          .footer-list-group.right
            .footer-list
              ul
                li
                  a(href="/s/impressum") Impressum
                li
                  a(href="/s/datenschutz") Datenschutz
                li
                  a(href="/s/marketing") Marketing

        small.footer-copyright &copy; Das Filter
