
mixin head
  meta(charset="utf8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  link(rel="shortcut icon", href="#{ urls.asset('favicon.ico') }")

  link(rel="stylesheet", href="#{ urls.asset('css/styles.css') }")
  link(rel="stylesheet", href="//f.fontdeck.com/s/css/StCM31f1aBeSAsz0HVB2b0h/eSo/www.dasfilter.com/41172.css", type="text/css")