
mixin start-oneway(group)
  if group.display === 'default'
    +teaser('teaser-oneway', group.article)
  else if group.display === 'full'
    +teaser('twaser-oneway-full', group.article)


mixin start-twoway(group)
  if group.display === 'default'
    +teaser('teaser-twoway-first', group.articles.one)
    +teaser('teaser-twoway-second', group.articles.two)
  else if group.display === 'full'
    +teaser('teaser-twoway-full', group.articles.one)
    +teaser('teaser-twoway-full', group.articles.two)


mixin start-threeway(group)
  +teaser('teaser-threeway', group.articles.one)
  +teaser('teaser-threeway', group.articles.two)
  +teaser('teaser-threeway', group.articles.three)
