
mixin start-teaser(type, article, showText)
  if article._id
    +teaser(type, article, showText)


mixin start-oneway(group)
  if group.display === 'default'
    +start-teaser('teaser-oneway', group.article)
  else if group.display === 'full'
    +start-teaser('twaser-oneway-full', group.article)


mixin start-twoway(group)
  if group.display === 'default'
    +start-teaser('teaser-twoway-first', group.articles.one)
    +start-teaser('teaser-twoway-second', group.articles.two)
  else if group.display === 'full'
    +start-teaser('teaser-twoway-full', group.articles.one)
    +start-teaser('teaser-twoway-full', group.articles.two)


mixin start-threeway(group)
  +start-teaser('teaser-threeway', group.articles.one)
  +start-teaser('teaser-threeway', group.articles.two)
  +start-teaser('teaser-threeway', group.articles.three)
