
mixin start-teaser(type, article, showText)
  if article && article._id
    +teaser(type, article, showText)


mixin start-oneway(group)
  +start-teaser('teaser-oneway', group.article)


mixin start-twoway(group)
  if group.display === 'uneven'
    +start-teaser('teaser-twoway', group.articles.one)
    +start-teaser('teaser-threeway', group.articles.two)
  else
    +start-teaser('teaser-twoway', group.articles.one)
    +start-teaser('teaser-twoway', group.articles.two)


mixin start-threeway(group)
  +start-teaser('teaser-threeway', group.articles.one)
  +start-teaser('teaser-threeway', group.articles.two)
  +start-teaser('teaser-threeway', group.articles.three)


mixin start-layout(groups)
  each group in groups
    - var displayClass = group.display ? 'display-' + group.display : ''
    if group.title
      .index-group-title-wrapper
        .index-group-title-outer
          .index-group-title-inner
            h3= group.title

    div(class="index-group #{group.type_} #{displayClass}")
      case group.type_
        when "chrono-oneway": +start-oneway(group)
        when "chrono-twoway": +start-twoway(group)
        when "chrono-threeway": +start-threeway(group)

        when "pinned-oneway": +start-oneway(group)
        when "pinned-twoway": +start-twoway(group)
        when "pinned-threeway": +start-threeway(group)

        when "tag-oneway": +start-oneway(group)
        when "tag-twoway": +start-twoway(group)
        when "tag-threeway": +start-threeway(group)
