
mixin start-teaser(type, article, showText)
  if article && article._id
    +teaser-startpage(type, article, showText)


mixin start-oneway(group)
  if group.display === 'full'
    +start-teaser('teaser-oneway-full', group.article)
  else
    +start-teaser('teaser-oneway', group.article)

mixin start-twoway(group)
  if group.display === 'full'
    +start-teaser('teaser-twoway-full', group.articles.one)
    +start-teaser('teaser-twoway-full', group.articles.two)
  else if group.display === 'uneven'
    +start-teaser('teaser-twoway-full', group.articles.one)
    +start-teaser('teaser-threeway', group.articles.two)
  else
    +start-teaser('teaser-twoway', group.articles.one)
    +start-teaser('teaser-twoway', group.articles.two)


mixin start-threeway(group)
  if group.display === 'full'
    +start-teaser('teaser-threeway-full', group.articles.one)
    +start-teaser('teaser-threeway-full', group.articles.two)
    +start-teaser('teaser-threeway-full', group.articles.three)
  else
    +start-teaser('teaser-threeway', group.articles.one)
    +start-teaser('teaser-threeway', group.articles.two)
    +start-teaser('teaser-threeway', group.articles.three)
