
mixin start-teaser(type, article, options)
  if article && article._id
    +teaser(type, article, options)


mixin start-oneway(group, toptions)
  +start-teaser('teaser-oneway', group.article, toptions)


mixin start-twoway(group, toptions)
  if group.display === 'uneven'
    +start-teaser('teaser-twoway', group.articles.one, toptions)
    +start-teaser('teaser-threeway', group.articles.two, toptions)
  else
    +start-teaser('teaser-twoway', group.articles.one, toptions)
    +start-teaser('teaser-twoway', group.articles.two, toptions)


mixin start-threeway(group, toptions)
  +start-teaser('teaser-threeway', group.articles.one, toptions)
  +start-teaser('teaser-threeway', group.articles.two, toptions)
  +start-teaser('teaser-threeway', group.articles.three, toptions)


mixin start-layout(groups)
  each group in groups
    - var displayClass = group.display ? 'display-' + group.display : ''
    if group.title
      .index-group-title-wrapper
        .index-group-title-outer
          .index-group-title-inner
            h3= group.title

    .index-group(class="#{group.type_} #{displayClass}")
      case group.type_
        when "chrono-oneway": +start-oneway(group, { showCategory: true })
        when "chrono-twoway": +start-twoway(group, { showCategory: true })
        when "chrono-threeway": +start-threeway(group, { showCategory: true })

        when "pinned-oneway": +start-oneway(group, { showCategory: true, inverted: true })
        when "pinned-twoway": +start-twoway(group, { showCategory: true, inverted: true })
        when "pinned-threeway": +start-threeway(group, { showCategory: true, inverted: true })

        when "tag-oneway": +start-oneway(group, { showCategory: true, inverted: true })
        when "tag-twoway": +start-twoway(group, { showCategory: true, inverted: true })
        when "tag-threeway": +start-threeway(group, { showCategory: true, inverted: true })
